---
layout: home
title: Config
---

<script type="text/javascript" src="/dc-web/skins/js/docker/api/image.js"></script>
<script type="text/javascript" src="/dc-web/skins/js/docker/api/service.js"></script>
<script type="text/javascript" src="config.js"></script>
<!-- page title -->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>创建应用</h3>
    </div>
  </div>
</div>

<div id="app-create">
	<div class="row">
	  <div class="col-md-12">
	    <form id="serviceForm" class="form-horizontal" role="form">
	      <div class="row">
	        <div class="col-md-8">
	          <!-- General settings-->
	          <div class="col-md-12 panel panel-gray" id="generalSettings">
	            <div class="panel-heading"><h3>基础设置</h3>
	            </div>
	            <div class="panel-body">
	              <div class="form-group">
	                <label class="col-sm-3 control-label">使用镜像</label>
	                <div class="col-sm-9">
	                  <input type="text" class="form-control input-no-border" id="image" name="image"
	                  			  v-model="imageName" @blur="loadImage" :value="imageName"
	                  				placeholder="镜像名:镜像标签" />
	                </div>
	              </div>
	              <div class="form-group">
	                <label class="col-sm-3 control-label" for="serviceName">应用名称</label>
	                <div class="col-sm-9">
	                  <input type="text" class="form-control input-no-border" id="serviceName" name="serviceName"
	                  				@blur="checksn" v-model="serviceName" :value="serviceName"
	                  			  placeholder="[小写字母、数字组合] + [__端口号]" />
	                </div>
	              </div>
	              <div class="form-group">
	                <label class="col-sm-3 control-label" for="containers">容器数量</label>
	                <div class="col-sm-9">
	                    <input type="number" name="containers" id="containers" class="form-control"
	                    				v-model="containers" :value="containers"
		                    			placeholder="1-5" min="1" max="5" />
	                </div>
	              </div>
	            </div>
	          </div>
	          
	          <!-- EndpointSpec -->
	          <div class="col-md-12 panel panel-gray" id="endpointSpec">
	            <div class="panel-heading"><h3>端口设置</h3>
	            </div>
	            <div class="panel-body">
	              <div class="form-group">
	                <div class="col-sm-12">
	                  <table id="tblPorts" class="table light">
	                    <thead>
	                      <tr>
	                        <th style="width: 54%;">容器端口</th>
	                        <th style="width: 20%;">访问协议</th>
	                        <th style="width: 8%;"></th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                    	<tr v-for="port in ports">
			         	 		<td>
			         	 			<input type="number" name="container-port"  class="form-control"  min="1" max="65535" 
			         	 						 v-model="port.TargetPort" :value="port.TargetPort"
			         	 						 placeholder="容器端口" />
			         	 		</td>
			         	 		<td>
			         	 			<select name="protocolList" v-model="port.Protocol" class="form-control">
											    <option value="tcp" :selected="port.Protocol=='tcp'">TCP</option>
											    <option value="udp" :selected="port.Protocol=='udp'">UDP</option>
			         	 			</select>
			         	 		</td>
			         	 		<td><span class="glyphicon glyphicon-trash" @click="trash"></span></td>
	                    	</tr>
	                    </tbody>
	                  </table>
	                  <span class="pull-right">
	                    <button type="button" class="btn btn-default" @click="addPort"><span class="glyphicon glyphicon-plus"></span>添加</button>
	                  </span>
	                </div>
	              </div>
	            </div>
	          </div>
	          
	          <!--Container setting-->
	          <div class="col-md-12 panel panel-gray" id="containerSettings">
	            <div class="panel-heading"><h3>存储卷</h3>
	            </div>
	            <div class="panel-body">
	              <div class="form-group">
		              <div class="form-group">
		                <div class="col-sm-5">
		                  <input type="text" class="form-control input-no-border" name="c_path" 
		                  			 v-model="c_path" :value="c_path"
		                  			 placeholder="容器目录"/>
		                </div>
		                <div class="col-sm-5">
		                  <input type="text" class="form-control input-no-border" name="h_path" 
		                  			 v-model="h_path" :value="h_path"
		                  			 placeholder="主机目录"/>
		                </div>
		                <div class="col-sm-1">
		                  <span class="glyphicon glyphicon-plus" @click="addVolume"></span>
		                </div>
		                <table id="tblVolumes" class="table light">
		                  <tbody>
		                  	<tr v-for="volume in volumes">
				             	 		<td>
				             	 			<input type="text" name="container-path" class="form-control" v-model="volume.Target" :value="volume.Target" placeholder="容器目录" />
				             	 		</td>
				             	 		<td>
				             	 			<input type="text" name="host-path" class="form-control" v-model="volume.Source"  :value="volume.Source" placeholder="主机目录" />
				             	 		</td>
				             	 		<td><span class="glyphicon glyphicon-trash" @click="trash"></span></td>
		                  	</tr>
		                  </tbody>
		                </table>
		              </div>
	              </div>
	            </div>
	          </div>
	          
	          <!-- Environment variables -->
	          <div class="col-md-12 panel panel-gray" id="environmentVariables">
	            <div class="panel-heading"><h3>环境变量</h3>
	            </div>
	            <div class="panel-body">
	              <div class="form-group">
	                <div class="col-sm-5">
	                  <input type="text" class="form-control input-no-border" id="envName" name="envName" 
	                  			 v-model="envName" :value="envName"
	                  			 placeholder="键"/>
	                </div>
	                <div class="col-sm-5">
	                  <input type="text" class="form-control input-no-border" id="envValue" name="envValue"
	                  			 v-model="envValue" :value="envValue"
	                  			 placeholder="值"/>
	                </div>
	                <div class="col-sm-2">
	                  <span class="glyphicon glyphicon-plus" id="btnAddEnv" @click="addEnv"></span>
	                </div>
	                <table id="tblEnvs" class="table light">
	                  <tbody>
	                  	<tr v-for="env in envs">
		             	 	 	  <td>
		             	 	 	 	  <input type="text" class="form-control" name="envName" v-model="env.key"
		             	 	 	 		  		 placeholder="键" :value="env.key" />
		             	 	 	  </td>
		             	 	 	  <td>
		             	 	 	 	  <input type="text" class="form-control" name="envValue" v-model="env.value"
		             	 	 	 				   placeholder="值" :value="env.value" />
		             	 	 	  </td>
		             	 	 	 <td><span class="glyphicon glyphicon-trash" @click="trash"></span></td>
	                  	</tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
	    
	        <div class="col-md-4">
	          <div class="col-md-12 panel panel-gray fixed">
	            <div class="panel-heading">导航
	            </div>
	            <div class="panel-body">
	              <div class="row summarys">
	                <a class="col-md-12" href="#generalSettings">基础设置</a>
	                <a class="col-md-12" href="#endpointSpec">端口设置</a>
	                <a class="col-md-12" href="#containerSettings">存储卷</a>
	                <a class="col-md-12" href="#environmentVariables">环境变量</a>
	              </div>
	              <div class="row">
	                <button type="button" id="btnCreate" class="btn btn-primary" @click="submit">创建应用</button>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
</div>