<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
  </div>
</footer>
<!--<link href="//cdn.bootcss.com/noUiSlider/9.0.0/nouislider.min.css" rel="stylesheet">
-->
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/nouislider/nouislider.min.css" rel="stylesheet">
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/nouislider/nouislider.pips.css" rel="stylesheet">
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/nouislider/nouislider.tooltips.css" rel="stylesheet">
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<!--theme style-->
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/css/theme/light.css" rel="stylesheet">
<!--theme style end-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="//cdn.bootcss.com/noUiSlider/9.0.0/nouislider.min.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script src="//cdn.bootcss.com/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/raty/jquery.raty.js"></script>

