<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
  </div>
</footer>
<!--<link href="//cdn.bootcss.com/noUiSlider/9.0.0/nouislider.min.css" rel="stylesheet">
-->
<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.min.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.pips.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.tooltips.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/plugins/tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<!--theme style-->
<link href="https://fogray.github.io/dc-web/skins/css/theme/light.css" rel="stylesheet">
<!--theme style end-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% if site.github %}
  <script src="https://fogray.github.io/bootstrap/dist/js/bootstrap.min.js"></script>
{% else %}
  <script src="https://fogray.github.io/bootstrap/dist/js/bootstrap.js"></script>
{% endif %}
{% if site.github %}
  <script src="https://fogray.github.io/bootstrap/assets/js/docs.min.js"></script>
{% else %}
  <script src="https://fogray.github.io/bootstrap/assets/js/vendor/holder.js"></script>
  <script src="https://fogray.github.io/bootstrap/assets/js/vendor/ZeroClipboard.min.js"></script>
  <script src="https://fogray.github.io/bootstrap/assets/js/src/application.js"></script>
{% endif %}

{% if page.slug == "customize" %}
  {% if site.github %}
    <script src="https://fogray.github.io/bootstrap/assets/js/customize.min.js"></script>
  {% else %}
    {% comment %}
      This list is repeated in our Gruntfile—update both when making changes.
    {% endcomment %}
    <script src="https://fogray.github.io/bootstrap/assets/js/vendor/less.min.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/vendor/jszip.min.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/vendor/uglify.min.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/vendor/Blob.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/vendor/FileSaver.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/raw-files.min.js"></script>
    <script src="https://fogray.github.io/bootstrap/assets/js/src/customizer.js"></script>
  {% endif %}
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://fogray.github.io/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
<!--<script src="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.min.js"></script>-->
<script src="//cdn.bootcss.com/noUiSlider/9.0.0/nouislider.min.js"></script>
<script src="https://fogray.github.io/dc-web/skins/plugins/tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script src="//cdn.bootcss.com/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="https://fogray.github.io/dc-web/skins/js/App.js"></script>

