<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Docker Cloud
  {% endif %}
</title>
<script type="text/javascript">
var INS_APM = window.INS_APM || {};
INS_APM.info={appId:'1004'};
</script>
<script type="text/javascript" src="https://fogray.github.io/binsight-js/binsight.min.js"></script>

<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/pace/themes/pace-theme-flash.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<!-- Optional Bootstrap Theme -->
<link href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/css/component.css" rel="stylesheet">
<link href="{{ site.data.env.RESOURCE_SERVER}}/skins/css/form.css" rel="stylesheet">

<!-- Documentation extras -->
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/jquery-1.11.3.min.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/pace/pace.js"></script>
<script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>


<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/jquery.base64.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/plugins/jquery.cookie.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/env.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/cookie.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/form.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/ajaxUtil.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/ajax.js"></script>
<script src="{{ site.data.env.RESOURCE_SERVER}}/skins/js/router.js"></script>

