<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Docker Cloud
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
{% if site.github %}
<link href="https://fogray.github.io/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
{% else %}
<link href="https://fogray.github.io/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
{% endif %}
{% if page.slug == "css" or page.slug == "components" or page.slug == "js" %}
  <!-- Optional Bootstrap Theme -->
{% if site.github %}
  <link href="data:text/css;charset=utf-8," data-href="https://fogray.github.io/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
{% else %}
  <link href="data:text/css;charset=utf-8," data-href="https://fogray.github.io/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" id="bs-theme-stylesheet">
{% endif %}
{% endif %}
<link href="https://fogray.github.io/dc-web/skins/css/component.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/css/form.css" rel="stylesheet">

<!-- Documentation extras -->
<script src="https://fogray.github.io/dc-web/skins/js/jquery-1.11.3.min.js"></script>
<script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
<!--[if lt IE 9]>
<script src="https://fogray.github.io/bootstrap/assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<script src="https://fogray.github.io/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="//dev.imaicloud.com/iam-web/skins/js/jquery.base64.js"></script>
<script src="https://fogray.github.io/dc-web/skins/js/CookieTool.js"></script>
<script src="https://fogray.github.io/dc-web/skins/js/form.js"></script>
<script src="https://fogray.github.io/dc-web/skins/js/ajaxUtil.js"></script>

<!-- Favicons -->
<link rel="icon" href="/favicon.ico">
