<header class="site-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Docker Cloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">+<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" class="btn service-action service-action-create">Service</a>
                </li>
                <li>
                  <a href="#" class="btn container-action container-action-create">Container</a>
                </li>
              </ul>
            </li>
            <li id="userInfo" class="dropdown dropdown-user">
              <script src="//fogray.github.io/iam-web/skins/js/embed.js"></script>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
