<div class="fluid">
	<ul class="nav nav-list">
		<li class="nav-header">
			BUILD
		</li>
		<li class="active">
			<a href="#">Repositories</a>
		</li>
		<li class="divider">
		</li>
		<li class="nav-header">
			APPLICATIONS
		</li>
		<li class="active">
			<a href="#">Stacks</a>
		</li>
		<li>
			<a href="/dc-web/views/services/list.html">Services</a>
		</li>
		<li>
			<a href="/dc-web/views/containers/list.html">Containers</a>
		</li>
		<li class="divider">
		</li>
		<li class="nav-header">
			INFRASTRUCTURE
		</li>
		<li>
			<a href="#">Node Clusters</a>
		</li>
		<li>
			<a href="#">Nodes</a>
		</li>
		<li class="divider">
		</li>
		<li class="nav-header">
			SETTINGS
		</li>
		<li>
			<a href="#">Cloud Settings</a>
		</li>
	</ul>
</div>
