---
layout: home
title: 
---

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>Stack列表</h3>
    </div>
  </div>
</div>
<div class="row" id="stack-list">
  <div class="col-md-12 panel">
    <div class="panel-heading">
      <div class="actions">
        <button class="btn btn-default btn-info" @click="createStack()">创建Stack</button>
      </div>
    </div>
    <div class="panel-body">
      <table class="table light">
        <thead>
          <th style="width: 40%;">Stack名称</th>
          <th style="width: 50%;">URL</th>
          <th style="width: 10%;"></th>
        </thead>
        <tbody>
          <tr v-for="(stack, index) in stacklist" v-model="stack" v-bind:data-id="stack.id">
            <td>
              <a @click="info(stack.id)" v-text="stack.nickname"></a>
            </td>
            <td v-model="stack.updatetime" v-text="stack.updatetime"></td>
            <td>
              <button class="btn btn-info btn-sm" @click="deployApp(stack.id)">发布应用</button>
              <button class="btn btn-remove btn-sm" @click="trashStack(stack.id)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="list.js"></script>
