---
layout: home
title: 应用商店
---

<div id="app-detail">
  <div class="row">
    <div class="col-md-12 panel">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="icon-area pull-left">
            <img :src="app.icon" style="width: 180px; height: 180px;" />
          </div>
          <div class="info-area pull-left" style="margin-left: 20px;">
            <h1 v-text="app.name"></h1>
            <p style="margin-top: 10px;"><span v-for=" star in app.stars" class="glyphicon glyphicon-star" style="display: inline-block;"></span></p>
            <p style="margin: 5px 5px;"><label class="control-label">使用镜像：</label><label v-text="app.image_name"></label></p>
            <p style="margin: 5px 5px;"><label class="control-label">发布时间：</label><label v-text="app.createtime"></label></p>
            <p style="margin: 5px 5px;"><button class="btn btn-primary form-control" type="button">安装</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 panel">
      <h3 class="panel-heading">应用简介：</h3>
      <div class="panel-body">
        <p v-text="app.introduce"></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 panel">
      <h3 class="panel-heading">用户评论：</h3>
      <div class="panel-body">
        <ul>
          <li class="col-md-12" v-for="judgement in judgements" style="padding: 10px 10px; border-bottom: 1px solid #C1D6E7; border-top: 1px solid #C1D6E7;">
            <h4 v-text="judgement.title"></h4>
            <p v-text="judgement.content"></p>
            <div class="col-md-12">
              <div class="pull-left">
                <h4 class="title pull-left" v-text="judgement.user_name"></h4>
                <span style="margin-left: 20px; line-height: 3;" class="pull-left" v-text="judgement.createtime"></span>
              </div>
              <div class="pull-right">
                <span v-for=" star in judgement.stars" class="glyphicon glyphicon-star" style="display: inline-block;"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="detail.js"></script>
  
