---
layout: home
title: Containers
---

<div class="row">
	<div class="col-md-12">
	  <div class="page-header">
	    <h3>容器列表</h3>
	  </div>
	</div>
</div>
<div class="row">
  <div class="col-md-12 panel">
    <div class="panel-heading">
      <div class="captions">
        <div class="checkbox">
          <label>
            <input class="form-control selector selector-all" type="checkbox">全选
          </label>
        </div>
      </div>
      <div class="actions">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" id="actions" type="button" data-toggle="dropdown">操作
            			<span class="caret"></span></button>
          <ul class="dropdown-menu actions" role="menu" aria-labelledby="actions">
            <li><a href="#" class="container-action container-action-restart">重启</a></li>
            <li><a href="#" class="container-action container-action-terminate">删除</a></li>
          </ul>
        </div>
        <button class="btn btn-default btn-success container-action container-action-start">启动</button>
        <button class="btn btn-default btn-warning container-action container-action-stop">停止</button>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group" id="containerList">
      	<li v-for="container in containers" v-model="container" v-bind:data-cid="container.id" v-bind:data-nid="container.nid">
	      	<div class="row">
		        <div class="col-md-1 check-col">
		        	<div class="checkbox">
		        		<label>
		        			<input class="form-control selector" type="checkbox" name="selector"/>
	        			</label>
	        		</div>
		        </div>
		        <div class="col-md-10">
		        	<div class="col-md-4 container-info">
		        		<div class="row">
		        			<div class="col-md-12 container-name" v-model="container.shortName" 
		        						v-bind:title="container.name" v-text="container.shortName"></div>
	        			</div>
	        			<div class="row">
	        				<div class="col-md-12">
	        					<span :class="['container-status', container.state]" title="运行状态" v-model="container.state" v-text="container.state"></span>
	        				</div>
        				</div>
		        	</div>
		        	<div class="col-md-2">
		        		<div class="col-md-12" name="service">
		        			<span class="glyphicon glyphicon-th-large"></span>
		        			<span v-model="container.serviceShortName" :title="container.service" v-text="container.serviceShortName"></span>
		        		</div>
		        	</div>
		        	<div class="col-md-4">
		        		<div class="col-md-12 container-image" title="使用镜像">
		        			<span class="glyphicon glyphicon-tag"></span>
		        			<span v-model="container.image" v-text="container.image"></span>
		        		</div>
		        	</div>
		        	<div class="col-md-2">
		        		<div class="col-md-12">
		        			<span class="glyphicon glyphicon-time"></span>
		        			<span v-text="container.status"></span>
		        		</div>
		        	</div>
		        </div>
		        <div class="col-md-1">
		        	<a v-if="container.state == 'running'"><span class="glyphicon glyphicon-stop" @click="stop" title="停止"></span></a>
		        	<a v-else><span class="glyphicon glyphicon-play" title="启动" @click="start"></span></a>
		        	<a><span class="glyphicon glyphicon-refresh" title="重启" @click="restart"></span></a>
		        	<a><span class="glyphicon glyphicon-trash" title="删除" @click="trash"></span></a>
		        </div>
	        </div>
	      </li>
      </ul>
    </div>
  </div>
</div>
  
<script type="text/javascript" src="/dc-web/skins/js/docker/api/container.js"></script>
<script type="text/javascript" src="list.js"></script>
