.panel,.panel-heading,panel-body{
  background-color: #FBFBFC;
}
/**Scale start**/
.noUiSlider.noUi-horizontal{
  width: 200px;
  height: 8px;
  top: 14px;
}
.noUiSlider .noUi-base{
  background-color: #abe2fb;
}
.noUiSlider .noUi-base .noUi-origin{
  background-color: #f0f0f0;
}
.noUi-horizontal .noUi-handle{
  width: 15px;
  height: 15px;
  border-radius: 6px !important;
  left: 0px;
  top: -5px;
}
.noUi-handle:after, .noUi-handle:before{
  height: 0px;
  width: 0px;
}
/**Scale end**/

/**Service info start**/
.service-info div{
  white-space: nowrap;
  overflow: hidden;
}
.service-info .item .item-value{
  font-size: 14px;
  color: #82949e;
}
.service-info.general .item{
}
.service-info.general .item .item-value{
  white-space: normal;
}
.service-info.containers .item{
  margin-bottom: 5px;
}
.service-info.containers .item .item-title{
  font-size: 15px;
}
.service-info.containers .item .item-state,.service-info.containers .item .item-date{
  color: #82949e;
}
.service-info .item-state .shutdown{
  color: #ef4a53;
}
.service-info .item-state .running{
  color: #00cbca;
}
/**Service info end**/

/**Container info start**/
.container-info div{
  white-space: nowrap;
  overflow: hidden;
}
.container-info .item .item-value{
  font-size: 14px;
  color: #82949e;
}
.container-info.general .item{
}
.container-info.general .item .item-value{
  white-space: normal;
}
.container-info .item-state .shutdown{
  color: #ef4a53;
}
.container-info .item-state .running{
  color: #00cbca;
}
/**Container info end**/
.running{
	color: #00cbca !important;
}
.shutdown{
	color: #ef4a53 !important;
}
.console{
	min-width: 700px;
	max-width: 950px;
	height:400px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #254356;
	color: #f0f0f0;
	font-family: Roboto Mono,consolas,monaco,monospace;
	resize: vertical;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	letter-spacing: normal;
}
.badge{
	background-color: #20b5b5;
}