<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="bs-docs-home">
    {% include header.html %}
    <section class="page-content">
      <div class="row">
        <div class="col-md-3">
          <!-- Docs master nav -->
          {% include left-nav.html %}
        </div>
        <div class="col-md-9">
          <!-- Page content of course! -->
          {{ content }}
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
