---
layout: home
title: wizard
---

<script type="text/javascript" src="action.js"></script>
<script type="text/javascript" src="wizard.js"></script>
<!-- page title -->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>
        Services /<small>Wizard</small>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mt-element-step">
    <div class="row step-thin">
      <div class="col-md-4 bg-grey done mt-step-col active">
          <div class="mt-step-number bg-white font-grey">1</div>
          <div class="mt-step-title uppercase font-grey-cascade">镜像</div>
          <div class="mt-step-content font-grey-cascade">选择Service要使用的镜像</div>
      </div>
      <div class="col-md-4 bg-grey mt-step-col">
          <div class="mt-step-number bg-white font-grey">2</div>
          <div class="mt-step-title uppercase font-grey-cascade">配置</div>
          <div class="mt-step-content font-grey-cascade">配置Service参数</div>
      </div>
      <div class="col-md-4 bg-grey mt-step-col">
          <div class="mt-step-number bg-white font-grey">3</div>
          <div class="mt-step-title uppercase font-grey-cascade">创建并发布</div>
          <div class="mt-step-content font-grey-cascade">创建并发布Service</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12">
		<iframe id="ifrm-service-create" name="ifrm-service-create" onload="autoIframeHeight()"></iframe>
	</div>
</div>
